# Server
PORT=4000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/mini-ecom?schema=public"

# Auth
JWT_ACCESS_SECRET=Kkq4RXn78jZ+25L2obwubsR5BhHRpDeg6Z0tjXEWjXNm1IH9JwX2BF+/IIc62dM5
ACCESS_TOKEN_TTL=15m
INACTIVITY_TIMEOUT_MINUTES=30

# CORS
CORS_ORIGIN=http://localhost:3000
